<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animais Comunitários</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-Fdk5O5ztyULntgYGpEofNyYjROKZbM2aqLR5n/Dgj+TWn5w5jJ8gFwtSNd1r2rXq3lZxGIPt03exbsimBjR1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha384-ufVEIVl1TL/zqX9sW1UpD2M/F7bP+Jf0/Z7V8TCAawuT7Vp+W+NMU/2IYPQBEY9XJ" crossorigin="anonymous">
  </head>
  <body>
    <header class="header">
        <h1><i class="fas fa-paw"></i> Animais</h1>
      <div class="welcome">
        Seja Bem-vindo!
      </div>

      <div class="profile">
        {{name_login}}
        <i class="fas fa-user-circle profile-icon"></i>
      </div>

    </header>
    <main>

      <!-- Barra de filtro -->

      <div class="sidebar">
        <button id="toggle-sidebar" class="toggle-sidebar">
          <i class="fas fa-chevron-left"></i>
        </button>
        <h2><i class="fas fa-filter"></i>  Filtros</h2>
        <form id="filter-form">
          <label for="center-select">Centro:</label>
          <select id="center-select">
            <option value="all">Todos</option>
            <option value="CFCH">CFCH</option>
            <option value="CAC">CAC</option>
            <option value="CIN">CIN</option>
            <option value="CCSA">CCSA</option>
            <option value="CTG">CTG</option>
          </select>
          <label for="breed-select">Espécie:</label>
          <select id="breed-select">
            <option value="all">Todas</option>
            <option value="Cachorro">Cachorro</option>
            <option value="Gato">Gato</option>
            <option value="Outro">Outro</option>
          </select>
          <label for="age-select">Idade:</label>
          <select id="age-select">
            <option value="all">Todas</option>
            <option value="age1">Até 1 ano</option>
            <option value="age2">1-10 anos</option>
            <option value="age3">Acima de 10 anos</option>
          </select>
          <button type="submit">Filtrar</button>
        </form>
        <div id="animal-count">
          Total de animais registrados: <span id="count">0</span>
        </div>
      </div>

<!-- Adicione o jQuery no cabeçalho, caso ainda não tenha -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
  $(document).ready(function() {
    $('#toggle-sidebar').click(function() {
      $('.sidebar').toggleClass('minimized');
      
      if ($('.sidebar').hasClass('minimized')) {
        $('#toggle-sidebar i').removeClass('fa-chevron-left');
        $('#toggle-sidebar i').addClass('fa-chevron-right');
      } else {
        $('#toggle-sidebar i').removeClass('fa-chevron-right');
        $('#toggle-sidebar i').addClass('fa-chevron-left');
      }
    });
  });
</script>




    <div class="card-container">
      {% for a in animal %}
      <div class="card" data-species="{{ a[2] }}" data-breed="{{ a[3] }}"  data-center="{{a[7]}}"  data-age="{{ a[4] }}" data-description="{{ a[5] }}" data-image="{{ url_for('static', filename=a[6]) }}" id="animal-{{ a[0] }}">
        <div class="card-info">
          <img src="{{ url_for('static', filename=a[6]) }}" alt="{{ a[1] }} Imagem" height="150" width="150">
          <h2>{{ a[1] }}</h2>
          <p>Espécie: {{ a[2] }}</p>
          <p>Raça: {{ a[3] }}</p>
          <p>Idade: {{ a[4] }} anos</p>
        </div>
      </div>
      {% endfor %}
    </div>



    </main>
    
    <!-- Fixed Buttons -->
<div class="fixed-buttons">
    <button class="add-button" onclick="showAddForm()">+</button>
    <button class="remove-button" onclick="showRemoveForm()">-</button>
</div>
  
  <!-- Add Form Modal -->
  <div id="add-form-modal" class="modal">
    <div class="modal-content">
      <span class="close" onclick="hideAddForm()">&times;</span>
      <h2>Cadastro de Animal</h2>
      <form enctype="multipart/form-data" id="animal-form" method="POST">

        <label for="name">Nome:</label>
        <input type="text" id="name" name="name" required>
      
        <label for="species">Espécie:</label>
        <input type="text" id="species" name="species" required>
      
        <label for="breed">Raça:</label>
        <input type="text" id="breed" name="breed" required>
      
        <label for="age">Idade:</label>
        <input type="number" id="age" name="age" required>
      
        <label for="description">Descrição:</label>
        <textarea id="description" name="description" rows="3" required></textarea>
      
        <label for="image">Imagem:</label>
        <input type="file" id="image" name="image" accept="image/*" required>
      
        <label for="center">Centro:</label>
        <select id="center" name="center" style="width: 100%;" required>
          <option value="CFCH">CFCH</option>
          <option value="CAC">CAC</option>
          <option value="CIN">CIN</option>
          <option value="CCSA">CCSA</option>
          <option value="CTG">CTG</option>

          <!-- Adicione mais opções de centros aqui -->
        </select>
      
      
        <button type="submit">Cadastrar</button>
      </form>
      
    </div>
  </div>

<!-- Remove Form Modal -->
<div id="remove-form-modal" class="modal">
  <div class="modal-content">
    <span class="close" onclick="hideRemoveForm()">&times;</span>
    <h2>Remover Animal</h2>
    <form id="remove-form">
      <label for="search">Buscar animal:</label>
      <input type="text" id="search" name="search" required autocomplete="off">
      
      <ul id="animal-list">
        <!-- Itens da lista serão adicionados aqui dinamicamente -->
      </ul>
      
      <button id="remove-animal-btn">Remover</button>
    </form>
  </div>
</div>

<!-- Adicione um elemento para a nova tela com fundo semi-transparente -->
<div class="overlay"></div>

<!-- Adicione um elemento para o conteúdo da nova tela -->
<div class="popup">
    <div class="animal-info">
        <div class="gallery">
            <div class="gallery-item">
              <img src="https://picsum.photos/400/300?random=1" alt="Cachorro">
            </div>
          </div>              
          <h2 class="animal-name">Tommy</h2>
          <div class="animal-details">
            <div class="animal-property">
              <p class="animal-label"><strong>Espécie:</strong></p>
              <p class="animal-value species">Canina</p>
            </div>
            <div class="animal-property">
              <p class="animal-label"><strong>Raça:</strong></p>
              <p class="animal-value breed">Vira-lata</p>
            </div>
            <div class="animal-property">
              <p class="animal-label"><strong>Idade:</strong></p>
              <p class="animal-value age">5 anos</p>
            </div>
            <div class="animal-property">
              <p class="animal-label"><strong>Local:</strong></p>
              <p class="animal-value">CCSA</p>
            </div>
            <div class="animal-property">
              <p class="animal-label"><strong>Castrado:</strong></p>
              <p class="animal-value">Sim</p>
            </div>
          </div>
          <p class="animal-description">Tommy é um cachorro de personalidade marcante, sua simpatia é contagiante e ele adora estar perto de pessoas e outros cães. Com seus 5 anos de idade, ele tem muita energia e sempre está pronto para brincar e correr.</p>
    </div>
</div>  

<script>

// Adicione um event listener a cada card
const cards = document.querySelectorAll('.card');
cards.forEach(card => {
  card.addEventListener('click', () => {
    // Adicione a classe "show" ao elemento do fundo e da nova tela
    document.querySelector('.overlay').classList.add('show');
    document.querySelector('.popup').classList.add('show');
  });
});

// Adicione um event listener ao elemento do fundo para fechar a nova tela
document.querySelector('.overlay').addEventListener('click', () => {
  // Remova a classe "show" do elemento do fundo e da nova tela
  document.querySelector('.overlay').classList.remove('show');
  document.querySelector('.popup').classList.remove('show');
});

</script>



<script>

function updatePopup(name, species, breed, age, description, imageUrl) {
  document.querySelector('.animal-name').textContent = name;
  document.querySelector('.animal-value.species').textContent = species;
  document.querySelector('.animal-value.breed').textContent = breed;
  document.querySelector('.animal-value.age').textContent = age + ' anos';
  document.querySelector('.animal-description').textContent = description;
  document.querySelector('.gallery-item img').src = imageUrl;
}

// Adicione um event listener a cada card
const cards2 = document.querySelectorAll('.card');
cards2.forEach(card => {
  card.addEventListener('click', () => {
    // Atualizar a popup com base nos atributos data-* do card clicado
    updatePopup(
      card.querySelector('h2').textContent,
      card.getAttribute('data-species'),
      card.getAttribute('data-breed'),
      card.getAttribute('data-age'),
      card.getAttribute('data-description'),
      card.querySelector('img').src
    );

    // Adicione a classe "show" ao elemento do fundo e da nova tela
    document.querySelector('.overlay').classList.add('show');
    document.querySelector('.popup').classList.add('show');
  });
});

// Adicione um event listener ao elemento do fundo para fechar a nova tela
document.querySelector('.overlay').addEventListener('click', () => {
  // Remova a classe "show" do elemento do fundo e da nova tela
  document.querySelector('.overlay').classList.remove('show');
  document.querySelector('.popup').classList.remove('show');
});

</script>









<!-- Script mostrar tela  -->

<script>

const addBtn = document.querySelector(".add-button");
const addFormModal = document.querySelector("#add-form-modal");
const removeBtn = document.querySelector(".remove-button");
const removeFormModal = document.querySelector("#remove-form-modal");
const closeBtns = document.querySelectorAll(".close");

addBtn.addEventListener("click", () => {
  addFormModal.style.display = "block";
});

removeBtn.addEventListener("click", () => {
  removeFormModal.style.display = "block";
});

closeBtns.forEach((btn) => {
  btn.addEventListener("click", () => {
    addFormModal.style.display = "none";
    removeFormModal.style.display = "none";
  });
});


modal.addEventListener("click", function(event) {
  if (event.target === modal) {
    modal.style.display = "none";
  }
});
</script>



<!-- Animais filtrados remove -->

<div id="logo-container">
  <img src="/static/images/logoufpe.png" alt="Logo UFPE">
</div>


<script>
  // Coloque o código JavaScript ou jQuery aqui para atualizar a quantidade de cards registrados
  // Exemplo com JavaScript puro:
  var totalAnimaisRegistrados = document.getElementsByClassName('card').length;
  document.getElementById('count').textContent = totalAnimaisRegistrados;
  
  // Exemplo com jQuery:
  // var totalAnimaisRegistrados = 5; // Substitua esse valor pelo total de cards registrados
  // $('#count').text(totalAnimaisRegistrados);
</script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function () {
    function filterCards() {
      const center = $("#center-select").val();
      const species = $("#breed-select").val();
      const age = $("#age-select").val();

      let count = 0;
      $(".card").each(function () {
        const card = $(this);
        const cardCenter = card.data("center");
        const cardSpecies = card.data("species");
        const cardAge = card.data("age");

        const isCenterMatch = center === "all" || center === cardCenter;
        const isSpeciesMatch = species === "all" || species === cardSpecies;
        let isAgeMatch = age === "all";

        if (age === "age1") {
          isAgeMatch = cardAge <= 1;
        } else if (age === "age2") {
          isAgeMatch = cardAge > 1 && cardAge <= 10;
        } else if (age === "age3") {
          isAgeMatch = cardAge > 10;
        }

        if (isCenterMatch && isSpeciesMatch && isAgeMatch) {
          card.show();
          count++;
        } else {
          card.hide();
        }
      });

      $("#count").text(count);
    }

    $("#filter-form").on("submit", function (event) {
      event.preventDefault();
      filterCards();
    });

    filterCards(); // Chamar a função filterCards para contar os cards iniciais
  });
</script>


<script>
  function handleAnimalSelection(event, animalId, animalName, animalSpecies) {
      let searchInput = document.getElementById('search');
      searchInput.value = `${animalName} - ${animalSpecies}`;
      searchInput.dataset.id = animalId;
      clearAnimalList();
  }
  
  function showRemoveForm() {
      let modal = document.getElementById("remove-form-modal");
      modal.style.display = "block";
  
      let searchInput = document.getElementById('search');
      searchInput.addEventListener('input', searchAnimal);
  }
  
  function hideRemoveForm() {
      let modal = document.getElementById("remove-form-modal");
      modal.style.display = "none";
  
      let searchInput = document.getElementById('search');
      searchInput.removeEventListener('input', searchAnimal);
  }
  
  function searchAnimal(event) {
      let searchInput = event.target;
      let query = searchInput.value.toLowerCase();
  
      fetch('/fetch_animals')
          .then(response => response.json())
          .then(animals => {
              let filteredAnimals = animals.filter(animal => {
                  let animalName = animal[1].toLowerCase();
                  return animalName.includes(query);
              });
  
              let animalList = document.getElementById('animal-list');
              clearAnimalList();
  
              for (let animal of filteredAnimals) {
                  let listItem = document.createElement('li');
                  listItem.innerHTML = `${animal[1]} - ${animal[2]} - ID: ${animal[0]}`;
                  listItem.addEventListener('click', (event) => handleAnimalSelection(event, animal[0], animal[1], animal[2]));
                  animalList.appendChild(listItem);
              }
          });
  }
  
  function clearAnimalList() {
      let animalList = document.getElementById('animal-list');
      animalList.innerHTML = '';
  }
  



  document.querySelector("#remove-animal-btn").addEventListener("click", function(event) {
    event.preventDefault();

    let searchInput = document.getElementById('search');
    let animalId = searchInput.dataset.id;

    // Enviar uma requisição AJAX para a rota /remove_animal
    fetch("/remove_animal", {
      method: "POST",
      headers: {
        "Content-Type": "application/json"
      },
      body: JSON.stringify({
        id: animalId
      })
    })
    .then(response => {
      if (response.status === 200) {
        // Redirecione para a página home
        window.location.href = "/home/ufpe";
      } else {
        // Exiba uma mensagem de erro
        console.error("Erro ao remover animal.");
      }
    })
    .catch(error => {
      console.error("Erro ao remover animal:", error);
    });
  });

  </script>





<footer>
  <div class="footer-info">
    <div class="footer-section">
      <h3>Redes Sociais</h3>
      <div class="social-icons">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-linkedin-in"></i></a>
      </div>
    </div>
    <div class="footer-section">
      <h3>Política do Site</h3>
      <p>
        Nós nos preocupamos com a segurança e bem-estar dos animais. Para saber mais sobre nossa política, <a href="#">clique aqui</a>.
      </p>
    </div>
    <div class="footer-section">
      <h3>Sites Interessantes e de Emergência</h3>
      <ul>
        <li><a href="#">ONG Amor Animal</a></li>
        <li><a href="#">SOS Animais</a></li>
        <li><a href="#">Emergência Veterinária</a></li>
      </ul>
    </div>
  </div>
  <div class="footer-copyright">
    &copy; 2023 - Todos os direitos reservados.
  </div>
</footer>



</body>


</html>