/* Cards */

/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  /* Global */
  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f6f6f6;
    color: #333;
    line-height: 1.5;
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }
  
  ul {
    list-style: none;
  }
  
  /* Header */
  .header {
    background-color: #673AB7;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  .header h1 {
    font-size: 24px;
  }
  
  .welcome {
    font-weight: bold;
    margin-right: 10px;
  }
  
  .profile-icon {
    font-size: 15px;
  }
  
  /* Main */
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px auto;
    max-width: 1400px;
  }
  
  .card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin: 10px;
    overflow: hidden;
    width: 250px;
    cursor: pointer;
  }
  
  .card img {
    display: block;
    height: 200px;
    object-fit: cover;
    width: 100%;
  }
  
  .card-info {
    padding: 10px;
    text-align: center;
  }
  
  .card-info h2 {
    font-size: 20px;
    margin-bottom: 5px;
  }
  
  .card-info p {
    font-size: 16px;
    margin-bottom: 3px;
  }
  
  .card:hover {
    transform: translateY(-5px);
  }
  
  .card:hover .card-info {
    background-color: #f6f6f6;
  }
  
  /* Fixed Buttons */
/* Movendo os botões para o canto inferior esquerdo */
.fixed-buttons {
    position: fixed;
    bottom: 20px;
    left: 20px;
  }
  
  .add-button, .remove-button {
    background-color: #673AB7;
    border: none;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    font-size: 24px;
    height: 50px;
    margin: 5px;
    width: 50px;
  }
  
  .add-button:hover, .remove-button:hover {
    background-color: #512DA8;
  }
  
  .add-button:focus, .remove-button:focus {
    outline: none;
  }

  /* Adicione estilos para o elemento do fundo e da nova tela */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* semi-transparente */
    filter: blur(5px); /* desfocar o fundo */
    visibility: hidden; /* esconder por padrão */
    z-index: 1;
  }
  
  .popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
    visibility: hidden; /* esconder por padrão */
    z-index: 2;
  }
  
  /* Adicione um estilo para mostrar a nova tela */
  .overlay.show {
    visibility: visible;
  }
  
  .popup.show {
    visibility: visible;
  }

  /* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* Add Form */
  #add-form-modal {
    display: none;
  }
  
  #add-form-modal form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #add-form-modal label {
    margin: 10px;
  }
  
  #add-form-modal input,
  #add-form-modal textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 20px;
    }
    
    #add-form-modal input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    }
    
    #add-form-modal input[type="submit"]:hover {
    background-color: #45a049;
    }
    
    /* Remove Form */
    #remove-form-modal {
    display: none;
    }
    
    #remove-form-modal form {
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    
    #remove-form-modal label {
    margin: 10px;
    }
    
    #remove-form-modal input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 20px;
    }
    
    #remove-form-modal input[type="submit"] {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    }
    
    #remove-form-modal input[type="submit"]:hover {
    background-color: #d32f2f;
    }

    .result-item {
    padding: 10px;
    cursor: pointer;
    }
    
    .result-item:hover {
    background-color: #f5f5f5;
    }
    
    .no-results {
    padding: 10px;
    color: #999;
    }
    
    .gallery {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-bottom: 20px;
    }
    
    .gallery-item {
      width: 350px;
      height: 200px;
      margin: 10px;
      overflow: hidden;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
    
    .gallery-item img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.3s ease;
    }
    
    .gallery-item:hover img {
      transform: scale(1.1);
    }
    
    .animal-info {
      background-color: #f5f5f5;
      border: 2px solid #ddd;
      border-radius: 10px;
      padding: 20px;
    }
    
    .animal-name {
      font-size: 28px;
      margin-bottom: 10px;
    }
    
    .animal-details {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 10px;
      gap: 10px;
    }
    
    .animal-property {
      width: calc(50% - 5px);
      display: flex;
      margin-bottom: 5px;
    }
    
    .animal-label {
      font-weight: bold;
      margin-right: 5px;
    }
    
    .animal-value {
      margin: 0;
    }
    
    .animal-description {
      font-size: 18px;
      margin-bottom: 0;
    }
          
      #logo-container {
        position: fixed;
        bottom: 0;
        right: 0;
        margin: 20px;
      }
      
      #logo-container img {
        height: 50px;
      }
    
      .profile {
        font-weight: bold;
        color: white;
      }





/* Paleta de cores do site */
:root {
  --cor-primaria: #000000;
  --cor-secundaria: #000000;
  --cor-fundo: #f8f9fa;
  --cor-destaque: #414141; /* Nova cor de destaque */
}

/* Estilos para o painel à esquerda */
.sidebar {
  width: 200px;
  height: 430px;
  background-color: var(--cor-destaque); /* Cor de destaque */
  color: #fff;
  padding: 20px;
  box-sizing: border-box;
  position: fixed;
  top: 10vh;
  border-radius: 5px;
}

.sidebar h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.sidebar form {
  margin-bottom: 20px;
}

.sidebar label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
}

.sidebar select {
  width: 100%;
  padding: 5px;
  font-size: 14px;
  margin-bottom: 10px;
  background-color: var(--cor-fundo);
  border: none;
  border-radius: 4px;
  color: var(--cor-secundaria);
}

.sidebar button[type="submit"] {
  background-color: var(--cor-fundo);
  color: var(--cor-primaria);
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}

.sidebar button[type="submit"]:hover {
  background-color: var(--cor-secundaria);
  color: #fff;
}

#animal-count {
  font-size: 14px;
  margin-top: 20px;
}

#count {
  font-weight: bold;
}

/* Estilos para a tabela de animais */
.main-content {
  margin-left: 250px;
  padding: 20px;
}

#animal-table {
  width: 100%;
  border-collapse: collapse;
}

#animal-table th,
#animal-table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid var(--cor-fundo);
}

#animal-table th {
  background-color: var(--cor-fundo);
  font-weight: bold;
  color: var(--cor-secundaria);
}

#animal-table tbody tr:hover {
  background-color: #f8f9fa;
}

  /* Estilo para o botão Cadastrar */
  #animal-form button[type="submit"] {
    background-color: #673AB7;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    margin-left: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  #animal-form button[type="submit"]:hover {
      background-color: #3c2180;
    }

  /* Estilo para a lista de seleção de centro */
  #center {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
  }



/* Additional CSS for animal list */
#animal-list {
  list-style-type: none;
  padding: 0;
}

#animal-list li {
  background-color: #f0f0f0;
  padding: 5px 30vw;
  margin-bottom: 2px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#animal-list li:hover {
  background-color: #ccc;
}

/* Estilos do rodapé */

/* Rodapé */
footer {
  background-color: #322f37; /* mistura de roxo e cinza */
  color: #fff;
  padding: 40px 0;
  font-size: 14px;
  margin-top: 190px;
}


.footer-info {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer-section {
  flex: 1;
  min-width: 200px;
  margin: 0 10px;
}

.footer-section h3 {
  font-size: 18px;
  margin-bottom: 20px;
}

.social-icons {
  display: flex;
}

.social-icons a {
  display: inline-block;
  width: 36px;
  height: 36px;
  background-color: #fff;
  color: #6c5b7b;
  text-align: center;
  line-height: 36px;
  border-radius: 50%;
  margin-right: 10px;
  transition: all 0.3s;
}

.social-icons a:hover {
  background-color: #6c5b7b;
  color: #fff;
}

.footer-section ul {
  list-style-type: none;
  padding: 0;
}

.footer-section ul li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-section ul li a:hover {
  color: #b3b3b3;
}

.footer-copyright {
  text-align: center;
  padding: 20px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  font-size: 12px;
}

.sidebar.minimized {
  width: 30px;
  overflow: hidden;
  transition: width 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar.minimized h2,
.sidebar.minimized form,
.sidebar.minimized #animal-count {
  display: none;
}

.toggle-sidebar {
  background-color: transparent;
  border: none;
  color: #fff;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 18px;
  cursor: pointer;
  padding: 12px; /* Aumentar o tamanho da área clicável */
}

.toggle-sidebar:hover {
  color: var(--cor-secundaria);
}

.sidebar.minimized .toggle-sidebar {
  right: auto;
  left: 10px;
  padding: 12px; /* Aumentar o tamanho da área clicável */
}

/* Estilo para a área de clique */
.toggle-sidebar:focus,
.toggle-sidebar:active {
  outline: none;
}

/* Estilos do botão de atualização */
.update-button {
  display: inline-block;
  background-color: #512DA8;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  margin-top: 10px; /* Adicione margem para separá-lo de outros elementos */
  text-transform: uppercase; /* Letras maiúsculas para destacar o botão */
  letter-spacing: 1px; /* Espaçamento entre letras para melhor legibilidade */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombra para adicionar profundidade */
}

.update-button:hover {
  background-color: #3c2180;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra maior no hover para efeito elevado */
}

#remove-animal-btn{
background-color: #673AB7;
color: #fff;
border: none;
padding: 10px 20px;
margin-top: 10px;
margin-left: 10px;
cursor: pointer;
transition: background-color 0.3s;

}

#remove-animal-btn:hover {
  background-color: #3c2180;
}